<div class="row">
  <div class="col-sm-12">
    <img 
      [src]="recipeDetail.imagePath" 
      alt="{{ recipeDetail.name }}"
      class="img-responsive"
      style="max-height: 250px;"
    >
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>{{ recipeDetail.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div appDropdown #appDropdownRef="appDropdown" class="btn-group">
      <button 
        type="button" 
        class="btn btn-outline-primary dropdown-toggle"
      >
        Manage Recipe
      </button>
      <ul appDropdown class="dropdown-menu" [ngClass]="{'show': appDropdownRef.isDropdownOpen}">
        <li>
          <a style="cursor: pointer"
            class="dropdown-item"
            (click)="onAddToShoppingList()"
          >To shopping list</a>
        </li>
        <li>
          <a 
            class="dropdown-item" 
            style="cursor: pointer"
            (click)="onEditRecipe()"
          >Edit Recipe</a>
        </li>
        <li>
          <a class="dropdown-item" style="cursor: pointer">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-12">
    {{ recipeDetail.description }}
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipeDetail.ingredients"
      >
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>